/* You can add global styles to this file, and also import other style files */
*{
    background-color: #1a1a64;
    color: wheat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}